#root {
  padding: 3rem;
}

.open-row-button {
  --pico-form-element-spacing-vertical: 2px;
  --pico-form-element-spacing-horizontal: 2px;
}

.selection-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
